<% layout("/layouts/boilerplate") %>
<body>
    <br>
    <h3>Edit</h3>
    <form method="post" action="/listings/<%= listing._id %>?_method=PUT" class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="title" class = "form-label">Title</label>
            <input type="text" name="listing[title]" placeholder="Enter title" value="<%= listing.title %>" class="form-control" required>
            <div class="valid-feedback">Title look good!</div>
        </div>
        <div class="mb-3">
            <label for="description" class = "form-label">Description</label>
            <textarea name="listing[description]" placeholder="Enter description" class="form-control" required><%= listing.description %></textarea>
            <div class="invalid-feedback">Description cannot be empty!</div>
        </div>
        <div class="mb-3">
            <label for="image" class = "form-label">Image</label>
            <input type="text" name="listing[image][url]" class="form-control" placeholder="Enter image URL/LINK" value="<%= listing.image.url %>" required>
            <div class="invalid-feedback">Image cannot be empty!</div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
            <label for="price" class = "form-label">Price</label>
            <input type="number" name="listing[price]" class="form-control" placeholder="Enter price" value="<%= listing.price %>" required>
            <div class="invalid-feedback">Price should be valid!</div>
        </div>
        <div class="col-md-8 mb-3">
            <label for="location" class = "form-label">Location</label>
            <input type="text" name="listing[location]" class="form-control" placeholder="Enter location" value="<%= listing.location %>" required>
            <div class="invalid-feedback">Location should be valid!</div>
        </div>
        </div>
        <div>
            <label for="country" class = "form-label">Country</label>
            <input type="text" name="listing[country]" class="form-control" placeholder="Enter country" value="<%= listing.country %>" required>
            <div class="invalid-feedback">Country name should be valid!</div><br>
        </div>
        <button class="btn btn-dark edt-btn">Edit</button><br><br>
    </form>
    <script src="/javascript/script.js"></script>
</body>
