<% layout("/layouts/boilerplate") %>
<body>
    <h3>All Listings</h3>

    <!-- <form action="/listings/new" method="get">
        <button>Create new</button>
    </form> -->
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <% for(let listing of allListings){ %>
        <a href="/listings/<%= listing._id %>" class="listing-link">
        <div class="card col">
            <img src="<%= listing.image.url %> || 'https://images.unsplash.com/photo-1749497683202-d3073573d996?q=80&w=1547&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D' %>" class="card-img-top" alt="image not found" style="height: 20rem;">
            <div class="card-img-overlay"></div>
                <div class="card-body">
                        <p class="card-text">
                        <b><%= listing.title %></b><br>
                        &#8377;<%= listing.price %>/night 
                    </p>
                </div>
            </div>
        <%}%>
        </div>
        </a>






    <!-- <ul>
    <% for(let listing of allListings){ %>
        <li><a href="/listings/<%= listing._id %>"><%= listing.title %></a></li>
    <%}%>
    </ul> -->

</body>